@font-face {
	font-family: Cairo;
	src: url('~assets/fonts/Ciaro/Cairo-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: Cairo;
	src: url('~assets/fonts/Ciaro/Cairo-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: Cairo;
	src: url('~assets/fonts/Ciaro/Cairo-Regular.ttf'); 
	font-weight: normal;
}

@font-face {
   font-family: Cairo;
   src: url('~assets/fonts/Ciaro/Cairo-SemiBold.ttf');
   font-weight: 600;
}
@font-face {
	font-family: Cairo;
	src: url('~assets/fonts/Ciaro/Cairo-Bold.ttf');
	font-weight: 700;
}

